@{
    Layout = null;
    var seriesTitle = "Stranger Things";
    var episodeNumber = 1;
    var description = "<p>On his way home from a friend's house, young Will sees something terrifying. Nearby, a sinister secret lurks in the depths of a government lab.</p>";
    var artists = new string[]
        {
            "Directors: Matt Duffer, Ross Duffer",
            "Writers: Matt Duffer, Ross Duffer"
        };
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h1>@seriesTitle</h1>
        <h2>Episode #@episodeNumber</h2>

        <h5>Description</h5>
        <div>@Html.Raw(description)</div>

        @if (artists.Length > 0)
        {
            <h5>Artists:</h5>
            <div>
                <ul>
                    @foreach (var artist in artists)
                    {
                        <li>@artist</li>

                    }
                </ul>
            </div>
        }
    </div>
</body>
</html>
