@model StrangerThingsGallery.Models.Episode[]

@{
    ViewBag.Title = "Episodes";
}

<h2>@ViewBag.Title</h2>

<div class="row">
    @foreach (var episode in Model)
    {
        <div class="col-md-3">
            <h4>@Html.ActionLink(episode.DisplayText, "Detail", new { id = episode.Id })</h4>
            <a href="@Url.Action("Detail", new { id = episode.Id})">
                <img src="/Images/@episode.CoverImageFileName"
                     alt="@episode.DisplayText"
                     class="img-responsive" />
            </a>
        </div>
    }

</div>
